
# Ignore application configuration
/config/application.yml

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
./tmp/*

# Ignore Mac-specific system files
.DS_Store
.AppleDouble
.LSOverride
