<table>
    <tr>
      <th>User ID</th>
      <th>User Email</th>
      <th>User Name</th>
    </tr>
  <div>
    <tr>
      <td> <%= @me['id'] %></td>
      <td> <%= @me['login']%></td>
      <td> <%= @me['name'] %></td>
    </tr>
</table>
